.bio-container {
    padding-left: 50px;
    padding-right: 50px;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    margin-top: 220px;
    margin-bottom: 220px;
}

.bio-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.bio-row img {
    height: 100px;
    width: 180px;
}

.bio-title {
    color: #CFCDCE;
    font-size: 5rem;
    font-weight: bold;
}

.bio-description {
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}