.skill-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.skills-title {
    position: relative;
    color: rgb(238, 238, 238);
    font-size: 120px;
    font-family: AvenirHeavy;
    display: flex;
    justify-content: center;
}

.skillItem {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    min-width: 150px;
}

.skillItemContainer {
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.skillIconTitle {
    margin-top: 20px;
    font-family: AvenirHeavy;
}

.skillIcon {
    height: 70px;
    width: 70px;
}


@media only screen and (max-width: 1040px) {
    .skill-card {
        height: 250px;
        width: 250px;
    }

    .skill-card div {
        overflow: scroll;
        background-color: #898989;
        padding: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
    }

}

@media only screen and (max-width: 973px) {

    .skill-card {
        height: 170px;
        width: 170px;
    }

    .skill-container h1 {

        justify-content: center;
    }

    .skillItem {
        min-height: 100px;
        min-width: 100px;
    }

}

@media only screen and (max-width: 740px) {
    .skills-title {
        font-size: 64px;
    }

    .skill-row {
        flex-wrap: wrap;
    }

    .skillItemContainer {
        padding: 0;
    }

    .skillIcon {
        height: 40px;
        width: 40px;
    }
}

@media only screen and (max-width: 500px) {
    .skills--title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 366px) {
    .skills--title {
        font-size: 48px;
    }
}