.projects-container {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.project-title {
    color: rgb(238, 238, 238);
    font-size: 120px;
    font-family: AvenirHeavy;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}



.projectImage img {
    width: 500px;
    height: 300px;
    border-radius: 20px;
    border: 3px solid #000;
}

.projectCard {
    border-radius: 20px;
    margin-bottom: 20px;
    height: 500px;

}

.projectTitle h1 {
    font-size: 60px;
    font-family: AvenirHeavy;
}

.projectContent {
    display: flex;
    justify-content: space-evenly;

}

.projectDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.projectImage {
    margin: 20px;
    display: flex;
    align-items: center;
}

.projectDescriptionContainer div h1 {
    margin-bottom: 30px;
}

.projectDescription {
    border-radius: 20px;
    padding: 20px;
}

.projectDescription p {
    font-family: AvenirLight;
    font-size: 20px;
    color: #000;
}

.projectIconContainer {
    display: flex;
    justify-content: space-between;
}

.projectIconContainer img {
    height: 50px;
    width: 100px;
    margin: 20px;
    cursor: pointer;
}

.projectIconContainer img:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 1260px) {
    .projectTitle h1 {
        font-size: 40px;
        font-family: AvenirHeavy;
    }
}

@media only screen and (max-width: 1034px) {
    .projectContent {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 973px) {
    .project-card {
        height: 170px;
        width: 170px;
    }

    .card-title h3 {
        font-size: 13px;
    }

    .card-body div p {
        font-size: 12px;
    }
}

@media only screen and (max-width: 890px) {
    .projectCard {
        height: 100%;
    }
}

@media only screen and (max-width: 740px) {
    .project-row {
        flex-wrap: wrap;
    }

    .project-title {
        font-size: 64px;
    }

    .projectTitle h1 {
        font-size: 40px;
        font-family: AvenirHeavy;
    }

    .projectDescription p {
        font-family: AvenirLight;
        font-size: 13px;
        color: #000;
    }

    .projectImage img {
        width: 400px;
        height: 240px;
    }
}

@media only screen and (max-width: 500px) {
    .project-title {
        font-size: 50px;
    }

    .projectTitle h1 {
        font-size: 30px;
        font-family: AvenirHeavy;
    }

    .projectImage img {
        width: 300px;
        height: 180px;
    }

}

@media only screen and (max-width: 380px) {
    .projectTitle h1 {
        font-size: 25px;
        font-family: AvenirHeavy;
    }

    .projectImage img {
        width: 300px;
        height: 180px;
    }
}

@media only screen and (max-width: 366px) {
    .project-title {
        font-size: 48px;
    }
}