.bio-container {
    padding: 50px;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.about-me-description {
    text-align: justify;
    color: #000;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-family: AvenirLight;
    margin-bottom: 30px;
}

.bioTitle {
    color: rgb(238, 238, 238);
    font-size: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-family: AvenirHeavy;
}


@media only screen and (max-width: 973px) {
    .about-me-description {
        font-size: 2rem;
    }

}

@media only screen and (max-width: 740px) {
    .about-me-description {
        font-size: 1rem;
    }

    .bioTitle {
        font-size: 64px;
    }

}

@media only screen and (max-width: 500px) {
    .bioTitle {
        font-size: 50px;
    }
}

@media only screen and (max-width: 366px) {
    .bioTitle {
        font-size: 48px;
    }
}