.certificate-titles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.certficiate-content {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.certficiate-content img {
    border-radius: 20px;
    box-shadow: 0 0 15px -5px;
    margin-bottom: 30px;
    width: 250px;
    transform: scale(1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.certifcate-titles-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 60px;
    font-family: AvenirHeavy;
}

.certifcate-titles-container h3 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #B6B0B0;
}

.certificate-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    height: 100%;
}

.certificate-title {
    color: rgb(238, 238, 238);
    font-size: 120px;
    font-family: AvenirHeavy;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 1222px) {
    .certficiate-content img {
        margin-top: 30px;
        height: 300px;
    }

    .certifcate-titles-container h1 {
        font-size: 25px;
    }

    .certifcate-titles-container h3 {
        font-size: 10px;
    }

    .certficiate-content {
        flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width: 740px) {
    .certificate-title {
        font-size: 64px;
    }
}

@media only screen and (max-width: 550px) {
    .certificate-title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 366px) {
    .certificate-title {
        font-size: 48px;
    }
}