* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
.card-body .card-title {
  font-family: 'Montserrat', sans-serif;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}

.hide {
  visibility: hidden;
}

/* PhotographDetails------------------------------------------------------------------------------*/
.card-text {
  color: #fff;
}

.App {
  background-color: #FEFEFE;
  overflow-x: hidden;
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}

.navbar-brand {
  max-width: 7rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 12rem;
}

.nav {
  transition-timing-function: ease-in;
  transition: 0.9s;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.image-title {
  position: relative;
}

p {
  color: #fff;
}

Form {
  color: #fff;
}

.profile_message {
  color: #fff;
  background-color: #61625DC4;
  border-color: black;
}

.home_card {
  background-color: #1E1E1E;
}

.login-modal {
  color: black;
}

/*Footer------------------------------------------------------------------------------*/
.site-footer {
  background-color: #CFCDCE;
  padding: 2rem;
  width: 100vw;
}

.footer-social {
  color: #fff;
  font-weight: bold;
}

@font-face {
  font-family: valencia;
  src: url('./app/assets/fonts/Valencia.ttf');
}

@font-face {
  font-family: AvenirRoman;
  src: url('./app/assets/fonts/Avenir-Roman-12.ttf');
}

@font-face {
  font-family: AvenirHeavy;
  src: url('./app/assets/fonts/Avenir-Heavy-05.ttf');
}

@font-face {
  font-family: AvenirLight;
  src: url('./app/assets/fonts/Avenir-Light-07.ttf');
}