* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}




body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
.card-body .card-title {
  font-family: 'Montserrat', sans-serif;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
}


/* PhotographDetails------------------------------------------------------------------------------*/
.card-text {
  color: #fff;
}

.App {
  background-color: #FEFEFE;
}

/* FEFEFE */


h2 {
  color: #fff
}

.card-img-overlay .card-title {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}



.navbar-brand {
  max-width: 7rem;
  margin-right: 2rem;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  margin-right: 2rem;
  max-width: 12rem;
}

.nav {
  transition-timing-function: ease-in;
  transition: 0.9s;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

/* .navbar_dark {
  background-image: linear-gradient(to right, #565859, #1E1E1E);
  opacity: 0.7;
  margin-bottom: 2rem;
  min-height: 8rem;
  position: 'sticky';
} */

.page-enter {
  opacity: 0;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 300ms ease-out;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: 300ms ease-in;
}

.image-title {
  position: relative;
}

h3,
p {
  color: #fff;
}

Form {
  color: #fff;
}

.profile_message {
  color: #fff;
  background-color: #61625DC4;
  border-color: black;
}

.home_card {
  background-color: #1E1E1E;
}

.login-modal {
  color: black;
}

/*HomePage------------------------------------------------------------------------------*/
/*HomeBanner*/
.content {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.text-content {
  position: absolute;
  bottom: 7%;
  left: 1%;
}

.peter-signiture {
  height: 7%;
  width: 20%;
}

.banner-title {
  transform: translateY(-50px);
}

.banner-name {
  font-size: 40px;
  text-align: center;
}

.banner-description {
  font-size: 20px;
  text-align: center;
}

/*Footer------------------------------------------------------------------------------*/

.site-footer {
  background-color: #CFCDCE;
  padding: 2rem;
}

.footer-social {
  color: #fff;
  font-weight: bold;
}

/* Certificates------------------------------------------------------------------------------*/

.honor-certificate {
  display: inline-block;
  height: 20rem;
  width: 17rem;
}

.fs-certificate {
  height: 20rem;
  width: 17rem;
}

.h-cert {
  display: inline-block;
}

/*Projects------------------------------------------------------------------------------*/
.bmi-container {
  background-color: rgba(113, 112, 112, 0.4);
  width: 50%;
  border-radius: 10px;
  color: #fff;
}

.mini-projects {
  color: #fff;
}


/* Skills------------------------------------------------------------------------------*/


/*ProfileContent--------------------------------------*/
.bio-container {
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bio-title {
  position: absolute;
  top: 15%;
  left: 107px;
  color: #CFCDCE;
  font-size: 5rem;
  font-weight: bold;
}

.bio-description {
  color: #000;
  display: flex;
  padding: 100px;
  font-size: 2rem;
}