.skill-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.skills-title {
    color: rgb(238, 238, 238);
    font-size: 120px;
    font-family: AvenirHeavy;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.skillIconContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    padding: 50px;
}

.skillIcon {
    height: 100px;
    width: 100px;
    transition: ease-out;
    transition-duration: .2s;
    margin: 50px;
}

.skillIcon:hover {
    transition: ease-in;
    transition-duration: .2s;
    height: 120px;
    width: 120px;
}

@media only screen and (max-width: 1040px) {
    .skill-card {
        height: 250px;
        width: 250px;
    }

    .skill-card div {
        overflow: scroll;
        background-color: #898989;
        padding: 10px;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
        width: 100%;
        height: 100%;
        align-items: center;
    }

}

@media only screen and (max-width: 973px) {
    .skills-title {
        font-size: 3rem;
    }

    .skill-card {
        height: 170px;
        width: 170px;
    }

    .skill-container h1 {

        justify-content: center;
    }

}

@media only screen and (max-width: 647px) {
    .skill-row {
        flex-wrap: wrap;
    }
}