.certificate-container {
    margin-top: 200px;
    margin-bottom: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
}

.certificate-title {
    color: #CFCDCE;
    font-size: 5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.certficiate img {
    box-shadow: 0 0 15px -5px;
    cursor: pointer;
    height: 300px;
    width: auto;
}

.certficiate img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px 0px;
}

.certificate-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}