.certificateContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    height: 100vh;
}

.certificateContents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.certificate-title {
    color: rgb(238, 238, 238);
    font-size: 120px;
    font-family: AvenirHeavy;
    display: flex;
    justify-content: center;
}

.certficiateSection {
    display: flex;
    justify-content: center;
    margin: 30px;
}

.certficiateSection img {
    box-shadow: 0 0 15px -5px;
    margin-bottom: 30px;
    width: 250px;
    transform: scale(1);
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
}

.certficiateDescription {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #000;
}

.certficiateDescription h1 {
    text-align: center;
    font-family: AvenirHeavy;
    font-size: 40px;
    margin-left: 30px;
}

.certficiateDescription h3 {
    text-align: center;
}


@media only screen and (max-width: 973px) {
    .certficiateSection img {
        margin-top: 30px;
        height: 300px;
    }

    .certficiateDescription h1 {
        font-size: 25px;
    }

    .certficiateDescription h3 {
        font-size: 10px;
    }

    .certficiateSection {
        flex-wrap: wrap-reverse;
    }
}

@media only screen and (max-width: 740px) {
    .certificate-title {
        font-size: 64px;
    }
}

@media only screen and (max-width: 500px) {
    .certificate-title {
        font-size: 50px;
    }
}

@media only screen and (max-width: 366px) {
    .certificate-title {
        font-size: 48px;
    }
}